<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3> {{dish.name | uppercase}}</h3>
        </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">

    <mat-list>
      <mat-list-item>
        <h2>Comments</h2>
      </mat-list-item>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p mat-line>
          <span>{{comment.comment}}</span>
        </p> 
        <p mat-line>
          <span>{{comment.rating}} Stars</span>
        </p> 
        <p mat-line>
          <span> -- {{comment.author}} {{comment.date | date}}</span>
        </p> 

      </mat-list-item>
    </mat-list>
  </div>

</div>